.search-icon {
    padding-top: 11px;
    margin-right: 5px;
    margin-left: 60px;
    font-size: 18px;
  }

.Home {
    margin-left: 12px;
    font-weight: bold;
  }

.Kat {
    margin-left: 10px;
    font-Weight: bold;
}

.src {
    width: 700px;
}

.form-login {
    margin-left: 120px;
    font-Weight: bold;
}


